body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Takes up the full viewport height*/
    background-color: #75f0a4;
}

.content {
    background-color: #fff;/*white background for the conent*/
    padding: 20px;
    border-radius: 5px; /*Rounded corners for the content box*/
    box-shadow: 0px 0px 15px regba(0, 0, 0, 0.2); /* Shadow to make the conent pop*/
}

table {
    width: 100%; /*Table will take up the full width of its parents container*/
    border-collapse: collapse; /* this removes any spacing between table cells */
}

table, th, td {
    border: 1px solid #ddd /* light gray border */
}

th, td {
    text-align: left; /* Align text to the left within table cells */
    padding: 8px; /* Padding inside each table cell */
}

th {
    background-color: #f2f2f2;
}